* {
    -fx-primary-color: #5D3587;
    -fx-accent-color: #B09CD9;
}

.view {
    -fx-font-family: 'Open Sans';
}

.button {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
    -fx-padding: 5 10;
    -fx-border-radius: 10px;
}

.button:pressed {
    -fx-background-color: -fx-accent-color;
    -fx-text-fill: white;
}

.budget-limit-bar  {
    -fx-bar-fill: #DFDFDF;
}

.budget-spent-bar  {
    -fx-bar-fill: #5D3587;
}

.budget-spent-bar-square {
    -fx-fill: #5D3587;
}

.budget-limit-bar-square {
    -fx-fill: #DFDFDF;
}

.budget-over-spent-bar {
    -fx-bar-fill: #862813;
}


.legend-label {
    -fx-font-size: 12px;
    -fx-text-fill: #333;
}

.chart-horizontal-grid-lines, .chart-vertical-grid-lines {
    -fx-opacity: 0;
}

.chart-axis-tick-mark {
    -fx-opacity: 1;
}

.axis-label {
    -fx-text-fill: black;
}

.chart-axis {
    -fx-tick-label-fill: black;
}

.text-field {
    -fx-background-color: white;
}

.text-field:focused {
    -fx-border-color: -fx-primary-color;
}

.combo-box {
    -fx-background-color: white;
    -fx-border-radius: 5px;
}

.combo-box:focused {
    -fx-border-color: -fx-primary-color;
    -fx-border-radius: 5px;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: -fx-accent-color;
    -fx-border-radius: 5px;
}

.combo-box .list-view .list-cell:focused {
    -fx-background-color: -fx-primary-color;
    -fx-border-radius: 5px
}
